@tailwind utilities;

@layer base {
  ul {
    @apply list-disc grid gap-4;
  }

  li {
    @apply text-gray-secondary font-normal;
  }

  .listing {
    @apply ml-8 marker:text-red-400 list-disc;
  }

  .listing-table-content {
    @apply ml-8 marker:text-gray-tertiary list-disc;
  }

  .listing-white {
    @apply ml-8 marker:text-white list-disc text-white;
    li {
      @apply text-white;
    }
  }

  ul.iconlist > li {
    list-style-type: none;
    padding-left: 24px;
    position: relative;
  }

  ul.iconlist > li::before {
    @apply bg-primary;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath fill='%23FFF' d='M3.9 8.56c-.52 0-1.02-.25-1.34-.67L.96 5.76a.75.75 0 0 1 1.2-.9l1.6 2.13s.09.07.14.07c.05 0 .1-.03.13-.07l3.8-5.24a.751.751 0 1 1 1.22.88L5.26 7.86c-.3.43-.8.69-1.33.7H3.9Z'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 8px;
    border-radius: 50%;
    content: '';
    height: 16px;
    position: absolute;
    top: 6px;
    transform: translateX(-24px);
    width: 16px;
  }
}
